<li class="pc-item">
  <a href="../dashboard/index.html" class="pc-link">
    <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
    <span class="pc-mtext">Dashboard</span>
  </a>
</li>


<li class="pc-item">
  <a href="../pages/employee-master.html" class="pc-link">
    <span class="pc-micon"><i class="ti ti-users"></i></span>
    <span class="pc-mtext">Employee Master</span>
  </a>
</li>
<li class="pc-item">
  <a href="../pages/attendance.html" class="pc-link">
    <span class="pc-micon"><i class="ti ti-clock"></i></span>
    <span class="pc-mtext">Time & Attendance</span>
  </a>
</li>
<li class="pc-item">
  <a href="../pages/leave-management.html" class="pc-link">
    <span class="pc-micon"><i class="ti ti-calendar-event"></i></span>
    <span class="pc-mtext">Leave Management</span>
  </a>
</li>
<li class="pc-item">
  <a href="../pages/payroll.html" class="pc-link">
    <span class="pc-micon"><i class="ti ti-receipt-2"></i></span>
    <span class="pc-mtext">Payroll</span>
  </a>
</li>
<li class="pc-item">
  <a href="../pages/reports.html" class="pc-link">
    <span class="pc-micon"><i class="ti ti-chart-bar"></i></span>
    <span class="pc-mtext">Reports</span>
  </a>
</li>




